{% extends "twtapp/base.html" %}

{% block contents %}
<div id="main">
    {% if logged and not himself %}
        {% if is_following %}
        <form action="/unfollow/{{ruser.username}}/"
              method="post" 
              accept-charset="utf-8"
              class="unfollow-user">
              {% csrf_token %}
              <p><input type="submit" value="unfollow {{ruser.username}}" /></p>
          </form>
        {% else %}
        <form action="/follow/{{ruser.username}}/"
              method="post"
              accept-charset="utf-8"
              class="follow-user">
              {% csrf_token %}
              <p><input type="submit" value="follow {{ruser.username}}" /></p>
        </form>
        {% endif %}
    {% endif %}
    
    <div class="tweets">
        {% for tweet in ruser.get_posts %}
        <p>
        <img src="{{STATIC_URL}}avatar.png" />
        <strong><a href="/{{tweet.uid}}">{{tweet.uid}}</a></strong>
        {{tweet.content}}
        <span><a href="/{{ruser.username}}/statuses/{{tweet.getId}}">permalink</a></span>
        </p>
        {% empty %}
        {{ruser.username}} has not posted yet.
        {% endfor %}
    </div>
</div>
{% include "twtapp/side.html" %}
{% endblock %}
